@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.contenu-sur-image {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 500px;
}
.contenu-sur-image > * {
  position: relative;
}

.contenu-sur-image > img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenu-sur-image h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  padding: 10px;
  font-size: 3rem;
}

.contenu-sur-image-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding: 10px 10px 20px 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  background-color: rgba(83, 165, 83, 0.5);
}
